<button (click)="goBack()">go back</button>

<div *ngIf="person">

  <h2>{{ person.name+' '+person.lastName | uppercase }} Details</h2>
  <div><span>id: </span>{{person.id}}</div>
  <div>
      <label>Name:
        <input [(ngModel)]="person.name" placeholder="name">
      </label>
  </div>
  <div>
      <label>Lastname:
        <input [(ngModel)]="person.lastName" placeholder="lastName">
      </label>
  </div>
  <div>
      <label>Pets Own:
        <input [(ngModel)]="person.petsOwn" placeholder="petsOwn">
      </label>
  </div>
  <button (click)="save()">save</button>
</div>
